.custom-ui-checkbox{
	width:16px;
	height:14px;
	border:1px solid black;
	background-image: url(../images/ui-icons_black_256x240.png);
	background-position: -64px -146px;
}

.icon-black{
	background-image: url(../images/ui-icons_black_256x240.png);
	background-position: -64px -146px;
}
.icon-orange{
	background-image: url(../images/ui-icons_orange_256x240.png);
	background-position: -64px -146px;
}
.icon-dark-orange{
	background-image: url(../images/ui-icons_darkorange_256x240.png);
	background-position: -64px -146px;
}
.icon-green{
	background-image: url(../images/ui-icons_green_256x240.png);
	background-position: -64px -146px;
}
.icon-dark-green{
	background-image: url(../images/ui-icons_darkgreen_256x240.png);
	background-position: -64px -146px;
}
.icon-red{
	background-image: url(../images/ui-icons_red_256x240.png);
	background-position: -64px -146px;
}


.custom-ui-unchecked{
	background-image: url();
}